[submodule "lib/fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "lib/fprime-baremetal"]
	path = lib/fprime-baremetal
	url = git@github.com:fprime-community/fprime-baremetal.git
